<div class="container quiz-container py-5">
    <div class="container py-5">
        <div class="section-title mb-5">
            <h1 class="display-3 text-center">Quiz Không vui</h1>
        </div>
        <div class="quiz-content">
            <div class="row">
                <!-- Loop through quizzes and create a card for each -->
                <div class="col-md-4 mb-4" ng-repeat="test in tests">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bài Quiz {{$index + 1}}</h5>

                            <button class="btn btn-primary mt-3"
                                ng-click="navigateTo($index + 1 + '/' + 'quiz' + '/' + 1) ">Làm bài</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>