<div class="container-fluid appointment py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.4s">
                <div class="appointment-form rounded p-5">
                    <p class="fs-4 text-uppercase text-primary">Welcome back</p>
                    <h1 class="display-5 mb-4">Đăng nhập</h1>
                    <form ng-submit="login()" name="loginForm" novalidate>
                        <div class="row gy-3 gx-4">
                            <div class="col-xl-12">
                                <input type="email" class="form-control py-3 border-primary bg-transparent text-white"
                                    ng-model="user.email" name="email" placeholder="Email" required>
                                <div ng-show="loginForm.email.$dirty && loginForm.email.$error.required"
                                    class="text-danger">Email is required</div>
                                <div ng-show="loginForm.email.$dirty && loginForm.email.$error.email"
                                    class="text-danger">Invalid email format</div>
                            </div>
                            <div class="col-xl-12">
                                <input type="password"
                                    class="form-control py-3 border-primary bg-transparent text-white"
                                    ng-model="user.Password" name="Password" placeholder="Password" required>
                                <div ng-show="loginForm.Password.$dirty && loginForm.Password.$error.required"
                                    class="text-danger">Password is required</div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary text-white w-100 py-3 px-5"
                                    ng-disabled="loginForm.$invalid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>